@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans|Fira+Code|Montserrat|Rubik|Source+Code+Pro&display=swap');

h2 {
	font-family: 'Balsamiq Sans', cursive;
}
.Typist .Cursor {
	display: inline-block;
}
.Typist .Cursor--blinking {
	opacity: 1;
	animation: blink 1s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blinker {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

footer {
	background-color: #282a36;
	margin-top: 30px;
}
.white {
	color: white;
}

.small {
	font-size: 11px;
}

.borderb {
	border-bottom: 1px solid white;
}

footer a {
	margin-left: 10px;
}
footer a:hover {
	color: white;
}
footer h2 {
	margin-top: 30px;
}
